@import url(base.css);
@import url(colors.css);
@import url(icon-style.css);

html {
  height: 100%;

  body {
    height: 100%;

    .header {
    }

    .main {
      flex: 1 1 auto;
    }

    .footer {
      height: 408px;

      &__container {
      }

      &__block {
      }

      &__block--header {

        &_header {
        }
      }

      &__block--content {

        &_text {
        }

        &_media {
        }

        &_media-href {
        }

        &_href {
        }
      }
    }
  }
}
