@import url(base.css);
@import url(colors.css);
@import url(icon-style.css);

@function size($pixel) {
  @return ($pixel / 16) + rem;
}

html {
  height: 100%;

  body {
    height: 100%;

    .header {
      height: size(43);
      margin-top: size(61);

      &__container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &__logo {
        &___href {
          font-size: size(24);
          line-height: size(32);
          color: var(--primary-color);
        }
      }

      &__nav {
        width: size(562);
        height: size(28);
        margin-right: size(81);
        margin-left: size(184);

        &___list {
          display: flex;
          justify-content: space-between;
          gap: size(40);
          font-weight: 700;
          line-height: size(28);
          color: var(--text-black);

          &____item {
            &_____href {
            }
          }
        }
      }

      &__authorization {
        width: size(194);
        display: flex;

        button {
          font-weight: 700;
          line-height: size(19);
          height: size(43);
          padding: size(12) size(24);
        }

        &___login {
          width: size(92);
          color: var(--secondary-color);
          background-color: transparent;
        }

        &___signin {
          width: size(103);
          color: var(--main-white);
          background-color: var(--secondary-color);
          box-shadow: 0 size(4) size(16) 0 var(--btn-shadow);
        }
      }
    }

    .main {
      flex: 1 1 auto;
    }

    .footer {
      height: size(408);
      background-color: var(--primary-color-up);

      &__container {
        height: size(250);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: size(56);
        margin-bottom: size(102);
        gap: size(125);
      }

      &__about {
        height: size(235);
        width: size(255);
        color: var(--main-white);

        &___header {
          margin-bottom: size(16);
          font-size: size(52);
          line-height: size(67);
        }

        &___content {
          &____text {
            margin-bottom: size(24);
            line-height: size(26);
            color: var(--text-gray-4);
            opacity: 85%;
          }

          &____media {
            display: flex;
            align-items: center;

            &_____icon {
              height: size(24);
              width: size(24);
              margin-right: size(16);
              display: flex;
              justify-content: center;
              align-items: center;

              span {
                font-size: size(20);
              }
            }
          }
        }
      }

      &__href {
        height: size(220);
        width: size(730);
        display: flex;
        justify-content: space-between;
        gap: size(68);
      }

      &__block {
        height: 100%;
        display: flex;
        flex-direction: column;
        color: var(--main-white);

        &:last-of-type {
          width: size(212);
        }

        &___header {
          margin-bottom: size(24);
          font-size: size(20);
          font-weight: 500;
          line-height: size(30);
          opacity: 50%;

          &____text {
          }
        }

        &___content {
          display: flex;
          flex-direction: column;

          &____href {
            margin-bottom: size(9);
            line-height: size(26);

            &::first-letter {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
