@import url(base.css);
@import url(colors.css);
@import url(icon-style.css);

html {
  height: 100%;

  body {
    height: 100%;

    .header {
    }

    .main {
      flex: 1 1 auto;
    }

    .footer {
      height: 408px;
    
      &__container {
      }

      &__block {

        &___header{

          &____text{}
        }

        &___content{

          &____media{

            &_____icon{}
          }

          &____href{}
        }
      }
    }
  }
}
